<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting Stock Data Using a Web Scraping</h1>

Not all stock data is available via API in this assignment; you will use web-scraping to obtain financial data. You will be quizzed on your results.  
 Using beautiful soup we will extract historical share data from a web-page.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Downloading the Webpage Using Requests Library</li>
        <li>Parsing Webpage HTML Using BeautifulSoup</li>
        <li>Extracting Data and Building DataFrame</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [ ]:
#!pip install pandas
#!pip install requests
#!pip install bs4
#!pip install plotly

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Using Webscraping to Extract Stock Data

Use the `requests` library to download the webpage [https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true](https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Save the text of the response as a variable named `html_data`.

In [2]:
url="https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ"
html_data=requests.get(url).text

Parse the html data using `beautiful_soup`.

In [3]:
data_soup=BeautifulSoup(html_data,"html5lib")

<b>Question 1</b> what is the content of the title attribute:

In [4]:
title_object=data_soup.title.string
print(title_object)

Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance

Using beautiful soup extract the table with historical share prices and store it into a dataframe named `amazon_data`. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list `col`. 

Hint: Print the `col` list to see what data to use

In [8]:
# extract "all" tables first
tables=data_soup.find_all('table')
print("Number of tables=",len(tables),"\n")

# there is just ine table. assign to new soup object
table=tables[0]
# inspect table
#print(table.prettify())

Number of tables= 1

In [29]:
# print first two rows/ column separately for instecption
for i,row in enumerate(data_soup.find("tbody").find_all("tr")):
    if i <= 1:
        print("=== row",i,"===\n")
        for j,col in enumerate(row.find_all("td")):
            print("--- col",j,"---\n",col,"\n")

=== row 0 ===

--- col 0 ---
 <td class="Py(10px) Ta(start) Pend(10px)" data-reactid="52"><span data-reactid="53">Jan 01, 2021</span></td>

--- col 1 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="54"><span data-reactid="55">3,270.00</span></td>

--- col 2 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="56"><span data-reactid="57">3,363.89</span></td>

--- col 3 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="58"><span data-reactid="59">3,086.00</span></td>

--- col 4 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="60"><span data-reactid="61">3,206.20</span></td>

--- col 5 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="62"><span data-reactid="63">3,206.20</span></td>

--- col 6 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="64"><span data-reactid="65">71,529,900</span></td>

=== row 1 ===

--- col 0 ---
 <td class="Py(10px) Ta(start) Pend(10px)" data-reactid="67"><span data-reactid="68">Dec 01, 2020</span></td>

--- col 1 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="69"><span data-reactid="70">3,188.50</span></td>

--- col 2 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="71"><span data-reactid="72">3,350.65</span></td>

--- col 3 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="73"><span data-reactid="74">3,072.82</span></td>

--- col 4 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="75"><span data-reactid="76">3,256.93</span></td>

--- col 5 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="77"><span data-reactid="78">3,256.93</span></td>

--- col 6 ---
 <td class="Py(10px) Pstart(10px)" data-reactid="79"><span data-reactid="80">77,567,800</span></td>

In [39]:
print("Rows added: ")
# create empty dstaframe with named columns
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])

for i,row in enumerate(data_soup.find("tbody").find_all("tr")):
    col = row.find_all("td")
    date      = col[0].string
    Open      = col[1].string
    high      = col[2].string
    low       = col[3].string
    close     = col[4].string
    adj_close = col[5].string
    volume    = col[6].string
    amazon_data = amazon_data.append({"Date":date, \
                                      "Open":Open, \
                                      "High":high, \
                                      "Low":low, \
                                      "Close":close, \
                                      "Adj Close":adj_close, \
                                      "Volume":volume}, \
                                     ignore_index=True)
    print(i,"..",sep='',end='')
print("\nComplete.")

Rows added:
0..1..2..3..4..5..6..7..8..9..10..11..12..13..14..15..16..17..18..19..20..21..22..23..24..25..26..27..28..29..30..31..32..33..34..35..36..37..38..39..40..41..42..43..44..45..46..47..48..49..50..51..52..53..54..55..56..57..58..59..60..
Complete.

Print out the first five rows of the `amazon_data` dataframe you created.

In [40]:
amazon_data.head()

           Date      Open      High       Low     Close Adj Close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20   71,529,900
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93   77,567,800
2  Oct 31, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04   90,810,500
3  Sep 30, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15  116,242,300
4  Aug 31, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73  115,943,500

In [41]:
amazon_data[-5:]

            Date    Open    High     Low   Close Adj Close       Volume
56  Apr 30, 2016  663.92  724.23  656.00  722.79    722.79   90,614,500
57  Mar 31, 2016  590.49  669.98  585.25  659.59    659.59   78,464,200
58  Mar 01, 2016  556.29  603.24  538.58  593.64    593.64   94,009,500
59  Feb 01, 2016  578.15  581.80  474.00  552.52    552.52  124,144,800
60  Jan 01, 2016  656.29  657.72  547.18  587.00    587.00  130,200,900

<b>Question 2</b> What is the name of the columns of the dataframe

In [73]:
amazon_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

<b>Question 3</b> What is the `Open` of `Jun 30, 2019` of the dataframe?

In [64]:
# display whole row
q3=amazon_data[amazon_data["Date"]=="Jun 30, 2019"]
q3

            Date      Open      High       Low     Close Adj Close      Volume
18  Jun 30, 2019  1,922.98  2,035.80  1,849.44  1,866.78  1,866.78  73,148,800

In [72]:
# display just the desired value
print("Open on 2019/06/30 was $",q3.iloc[0][1])

Open on 2019/06/30 was $ 1,922.98

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>

<p>